URxvt.scrollBar: false
!URxvt.font: xft:Sauce\ Code\ Powerline:size=14 
URxvt.font: xft:tewi:size=10

URxvt.letterSpace: 2
!!!!!!!!  YOUSAI THEME !!!!!!!!
!! special
!*.foreground:   #34302d
!*.background:   #f5e7de
!*.cursorColor:  #34302d
!
!! black
!*.color0:       #666661
!*.color8:       #7f7f7a
!
!! red
!*.color1:       #992e2e
!*.color9:       #b23636
!
!! green
!*.color2:       #4c3226
!*.color10:      #664233
!
!! yellow
!*.color3:       #a67c53
!*.color11:      #bf8f60
!
!! blue
!*.color4:       #4c7399
!*.color12:      #5986b2
!
!! magenta
!*.color5:       #bf9986
!*.color13:      #d9ae98
!
!! cyan
!*.color6:       #d97742
!*.color14:      #f2854a
!
!! white
!*.color7:       #34302d
!*.color15:      #4c4742


! special
*.foreground:   #9b9081
*.background:   #181b20
*.cursorColor:  #9b9081

! black
*.color0:       #353535
*.color8:       #5f5f5f

! red
*.color1:       #744b40
*.color9:       #785850

! green
*.color2:       #6d6137
*.color10:      #6f6749

! yellow
*.color3:       #765636
*.color11:      #776049

! blue
*.color4:       #61564b
*.color12:      #696057

! magenta
*.color5:       #6b4a49
*.color13:      #6f5a59

! cyan
*.color6:       #435861
*.color14:      #525f66

! white
*.color7:       #b3b3b3
*.color15:      #cdcdcd
